html, body {
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #3f444e;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input#movie-title, select, .SumoSelect > .CaptionCont {
  min-height: 32px;
  margin-bottom: 12px;
  border-radius: 0;
}
.text-logo {
  color: #FFF;
}
.text-logo span, .text-logo .fa-film {
  color: #d8232a;
}
.SumoSelect {
  width: 100%;
}

.content {
  color: #d5d5d5;
  display: block;
  z-index: 2;
  text-shadow: none;
  margin: 0;
  max-width: none;
  min-height: 150px;
  position: absolute;
  top: 90.5%;
  width: 100%;
  padding: 30px;
  background: rgba(3, 3, 3, 0.45);
}
.content .text-placeholder {
  line-height: 150px;
}

.content .img-thumbnail {
  width: 200px;
  height: auto;
  margin-right: 20px;

}
.btn-primary {
  background-color: #d8232a;
  border-color: #d8232a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #24262c;
  border-color: #d8232a;
}
