html, body {
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #3f444e;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input#movie-title, select, .SumoSelect > .CaptionCont {
  min-height: 32px;
  margin-bottom: 12px;
  border-radius: 0;
}
.text-logo {
  color: #FFF;
}
.SumoSelect {
  width: 100%;
}

.content {
  display: block;
  z-index: 2;
  text-shadow: none;
  margin: 0;
  max-width: none;
  position: absolute;
  top: 90.5%;
  right: 0;
  width: 100%;
  padding: 15px;
  background: rgba(3, 3, 3, 0.45);
}

/*@media only screen and (max-width:600px) {

}
@media only screen and (max-width:320px) {

}*/
